* {margin: 0;
}
#main1 {
    width: 30%;

  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
   
}
#h1{
    margin-bottom: 30px;

}
#img1{margin-top: 20px;
    margin-bottom: 20px;
 width: 80px;
 height: 80px;
}
 header {
        text-align: center;
        

        }
        #div{
            background: rgb(204, 208, 214);
       height: 75%;
        }
   
        #span1 {
    

           background: rgb(177, 18, 18);
            }
            #buttons{
               display: flex;
               justify-content: center;
                 }
                 #buttons img {
width: 50px;
height: 50px; 
padding-top: 15px; 
margin: 0 15px;                  
                      }
                      #volune  {


                        text-align: center;
                    }                      
                    #volune input {

width: 50%;
           
                    }  
input[type="range" i] {
 -webkit-appearance: none;
background: red;
                        height: 4px;
                        margin: 0%;
                                   
                                            }  
                                            input[type="range" ]::-webkit-slider-thumb {

                                                -webkit-appearance: none;
                                                background: blue;
                                                height: 25px
                                            ;
                                            width: 25px;
                                            border-radius: 50%;
                                                           
                                                                    }  
                                                        #h2{
margin: 15px 0;
                                                                      
                                                                                   
                                                                                            }  
                           #color {
                         text-align: center;
                         margin-top: 20px;
                        } 
                                                                                                  
                                                                                                               
                    #color button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                                                                                                       
                                                                                                       }      
#b1  {
  background: blue;
                                                                                   
                                                                                   }                                                                                                                                                                              
 #b2  {
background: rgb(252, 248, 2);
                                                                                                                                                                     
                                                                                      }      
                                                                                      #b3 {
                                                                                        background: rgb(5, 231, 73);
                                                                                                                                                                         
                                                                                                                                                                         } 
                                                                                                                                                                         #b4 {
                                                                                                                                                                            background: rgb(231, 5, 201);
                                                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                             }                                                                                                                                                                                                         